p.bakerloo{
    background-color: blue;
}

.central{
    background: #000;
}

.circle{
    background: #000;
}

.district{
    background: #000;
}

.hammersmithandcity{
    background: #000;
}

.jubilee{
    background: #000;
}

.metropolitan{
    background: #000;
}

.northern{
    background: #000;
}

.piccadilly{
    background: #000;
}

.victoria{
    background: #000;
}

.waterlooandcity{
    background: #000;
}

.dlr{
    background: #000;
}